NET "sw0" LOC=J15 | IOSTANDARD=LVCMOS33;
NET "sw1" LOC=L16 | IOSTANDARD=LVCMOS33;
# LEDs
NET "led0" LOC=H17 | IOSTANDARD=LVCMOS33;
NET "led1" LOC=K15 | IOSTANDARD=LVCMOS33;
NET "led2" LOC=J13 | IOSTANDARD=LVCMOS33;
NET "led3" LOC=N14 | IOSTANDARD=LVCMOS33;
NET "led4" LOC=R18 | IOSTANDARD=LVCMOS33;
NET "led5" LOC=V17 | IOSTANDARD=LVCMOS33;
NET "led6" LOC=U17 | IOSTANDARD=LVCMOS33;