## Switches
NET "sw0" LOC=J15 | IOSTANDARD=LVCMOS33;
NET "sw1" LOC=L16 | IOSTANDARD=LVCMOS33;
NET "sw2" LOC=M13 | IOSTANDARD=LVCMOS33;
NET "sw3" LOC=R15 | IOSTANDARD=LVCMOS33;
NET "sw4" LOC=R17 | IOSTANDARD=LVCMOS33;
NET "sw5" LOC=T18 | IOSTANDARD=LVCMOS33;
NET "sw6" LOC=U18 | IOSTANDARD=LVCMOS33;
NET "sw7" LOC=R13 | IOSTANDARD=LVCMOS33;
# LEDs
NET "ld0" LOC=H17 | IOSTANDARD=LVCMOS33;
NET "ld1" LOC=K15 | IOSTANDARD=LVCMOS33;
NET "ld2" LOC=J13 | IOSTANDARD=LVCMOS33;
NET "ld3" LOC=N14 | IOSTANDARD=LVCMOS33;
NET "ld4" LOC=R18 | IOSTANDARD=LVCMOS33;
NET "ld5" LOC=V17 | IOSTANDARD=LVCMOS33;
NET "ld6" LOC=U17 | IOSTANDARD=LVCMOS33;
NET "ld7" LOC=U16 | IOSTANDARD=LVCMOS33; 