NET "x<0>" LOC=J15 | IOSTANDARD=LVCMOS33;
NET "x<1>" LOC=L16 | IOSTANDARD=LVCMOS33;
NET "x<2>" LOC=M13 | IOSTANDARD=LVCMOS33;
NET "x<3>" LOC=R15 | IOSTANDARD=LVCMOS33;
# LEDs
NET "and4_" LOC=H17 | IOSTANDARD=LVCMOS33;
NET "or4_" LOC=K15 | IOSTANDARD=LVCMOS33;
NET "xor4_" LOC=J13 | IOSTANDARD=LVCMOS33;
